:root {
    --violeta-claro: #8e7bef;
    --violeta-oscuro: #5d3bef;
    --casi-blanco: #f9f6ff;
    --negro: #222222;
    --gris-oscuro: #423f40;
    --blanco: #ffffff;
    --gris-claro: #f9f5f2;
}

.footer {
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: var(--gris-claro);
    color: var(--negro-);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
}

body.darkmode .footer, body.darkmode .footer a {
    background-color: var(--negro);
    color: var(--blanco);
}

.footer i {
    color: var(--violeta-claro);
}

.footer a {
    text-decoration: none;
    color: var(--negro);
    transform: .2s all;
}

.footer a:hover
, body.darkmode .footer a:hover {
    color: var(--violeta-claro);
}

.arrow-up {
    font-size: 2rem;
    position: absolute;
    right: 7%;
    top: -150%;
    color: var(--violeta-oscuro);
    transition: all .2s;
}

.arrow-up:hover,
body.darkmode .arrow-up:hover {
    color: var(--violeta-claro);
}

body.darkmode .arrow-up {
    color: var(--violeta-claro);
}

@media only screen and (max-width: 767px) {
    .arrow-up {
        display: none;
    }
}