:root {
    --violeta-claro: #8e7bef;
    --violeta-oscuro: #5d3bef;
    --casi-blanco: #f9f6ff;
    --negro: #222222;
    --gris-oscuro: #423f40;
    --blanco: #ffffff;
    --gris-claro: #f9f5f2;
}

.footer {
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: var(--gris-claro);
    color: var(--negro-);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
}

body.darkmode .footer, body.darkmode .footer a {
    background-color: var(--negro);
    color: var(--blanco);
}

.footer i {
    color: var(--violeta-claro);
}

.footer a {
    text-decoration: none;
    color: var(--negro);
    transform: .2s all;
}

.footer a:hover
, body.darkmode .footer a:hover {
    color: var(--violeta-claro);
}

.container-arrow {
    position: absolute;
    right: 7%;
    top: -150%;
}

@media only screen and (max-width: 767px) {
    .container-arrow {
        display: none;
    }
}

/* ARROW WRAPPER */
.arrows-wrapper {
    position: relative;
    width: 50px; height: 50px;
    display: grid; place-items: center;
    transform: rotate(-180deg);
    cursor: pointer;
}
.arrow {
    display: inline-block;
    width: 50%; height: 50%;
    position: absolute;
    top: 0;
    border: solid var(--violeta-claro);
    border-width: 0 5px 5px 0;
    transform: rotate(45deg);
}
.arrow:nth-child(2) {
    animation: slide-down1 1.6s ease-in infinite;
}
.arrow:nth-child(3) {
    animation: slide-down2 1.6s ease-in infinite;
}
@keyframes slide-down1 {
    to {
        opacity: 0;
        top: 60%
    }
}
@keyframes slide-down2 {
    to {
        opacity: 0;
        top: 120%
    }
}
/* .arrows-wrapper {
    transform: rotate(-180deg);
} */