:root {
    --violeta-claro: #8e7bef;
    --violeta-oscuro: #5d3bef;
    --casi-blanco: #f9f6ff;
    --negro: #222222;
    --gris-oscuro: #423f40;
    --blanco: #ffffff;
    --gris-claro: #f9f5f2;
}

.footer {
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: var(--gris-claro);
    color: var(--violeta-oscuro);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}