:root {
    --violeta-claro: #8e7bef;
    --violeta-oscuro: #5d3bef;
    --casi-blanco: #f9f6ff;
    --negro: #222222;
    --gris-oscuro: #423f40;
    --blanco: #ffffff;
    --gris-claro: #f9f5f2;
}

.home {
    padding: 4rem 1rem 0 1rem;
}

.home .contenedor-texto h1 {
    font-size: 3rem;
    color: var(--negro);
    margin-bottom: 1rem;
}

.home .contenedor-texto p {
    font-size: 1rem;
    color: var(--gris-oscuro);
    margin-bottom: 1rem;
}

.home .contenedor-foto .foto-fondo {
    position: relative;
    display: flex;
    justify-content: center;
}

.home .contenedor-foto .foto-fondo .lineas-fondo{
    position: absolute;
    top: -3rem;
    left: -.5rem;
    z-index: -1;
    width: 85%;
}

.home .contenedor-foto .foto-fondo .foto-diseñador {
    width: 85%;
}

.home .contenedor-foto {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* REDES */
.home .contenedor-redes {
    position: relative;
    display: flex;
    justify-content: center;
}
.home .contenedor-redes .redes {
    display: flex;
    position: absolute;
    top: -1.25rem;
}
.home .contenedor-redes .redes div {
    background-color: var(--violeta-claro);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: .1rem solid var(--blanco);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .contenedor-redes .redes div i {
    color: var(--blanco);
}

/* BOTÓN */
.home .contenedor-boton {
    margin-top: 3rem;
}

.home .contenedor-boton .boton-contactame{
    background-color: var(--violeta-oscuro);
    color: var(--blanco);
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem 0;
    border: none;
    cursor: pointer;
}

.home .contenedor-boton .boton-contactame .icono-mail {
    height: 1.25rem;
    margin-right: .75rem;
}

/* celulares promedio */
@media only screen and (min-width: 450px) {
    .home .contenedor-texto {
        width: 90%;
    }

    .home .contenedor-redes .redes div {
        width: 3rem;
        height: 3rem;
        border: .1rem solid var(--blanco);
    }
    
    .home .contenedor-redes .redes div:nth-child(2) {
        margin: 0 2.5rem;
    }

    .home .contenedor-redes .redes {
        top: -1.5rem;
    }
}

/* Small devices: teléfonos grandes y tablets */
@media only screen and (min-width: 600px) {
    .home .contenedor-foto .foto-fondo {
        width: 90%;
    }

    .home .contenedor-redes .redes div {
        width: 3.5rem;
        height: 3.5rem;
    }
    
    .home .contenedor-redes .redes div:nth-child(2) {
        margin: 0 3rem;
    }

    .home .contenedor-redes .redes {
        top: -2em;
    }
}

/* Medium devices: tablets */
@media only screen and (min-width: 768px) {
    .home .contenedor-foto .foto-fondo .lineas-fondo{
        top: -1rem;
    }

    .home {
        display: grid;
        grid-template-areas:
        "foto foto foto foto foto texto"
        "foto foto foto foto foto redes"
        "foto foto foto foto foto boton";
        padding: 6rem 3.5rem 0 3.5rem;
    }

    .home .contenedor-foto {
        grid-area: foto;
    }

    .home .contenedor-texto {
        grid-area: texto;
    }

    .home .contenedor-redes {
        grid-area: redes;
        margin-bottom: 2rem;
    }

    .home .contenedor-redes .redes div {
        width: 2.5rem;
        height: 2.5rem;
    }

    .home .contenedor-redes .redes {
        top: 0;
    }

    .home .contenedor-redes {
        position: relative;
        justify-content: flex-start;
    }

    .home .contenedor-boton {
        grid-area: boton;
    }

    .home .contenedor-boton .boton-contactame{
        width: 70%;
        padding:.25rem 0;
    }
}

/* Large devices: laptop y desktop */
@media only screen and (min-width: 992px) {
    .home .contenedor-boton .boton-contactame{
        width: 35%;
    }
}

/* Extra large devices: laptop y desktop grandes */
@media only screen and (min-width: 1200px) {
    .home {
        padding: 6rem 6rem;
    }

    .home .contenedor-redes .redes div {
        width: 3rem;
        height: 3rem;
    }

    .home .contenedor-boton{
        display: flex;
        align-items: flex-end;
    }

    .home .contenedor-boton .boton-contactame{
        padding:.5rem 0;
    }
}