* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --violeta-claro: #8e7bef;
    --violeta-oscuro: #5d3bef;
    --casi-blanco: #f9f6ff;
    --negro: #222222;
    --gris-oscuro: #423f40;
    --blanco: #ffffff;
    --gris-claro: #f9f5f2;
}

/* celulares promedio */
@media only screen and (min-width: 450px) {}

/* Small devices: teléfonos grandes y tablets */
@media only screen and (min-width: 600px) {
    html {
        font-size: 1.2rem;
    }
}

/* Medium devices: tablets */
@media only screen and (min-width: 768px) {
    html {
        font-size: 1.4rem;
    }
}

/* Large devices: laptop y desktop */
@media only screen and (min-width: 992px) {
    html {
        font-size: 1.6rem;
    }
}

/* Extra large devices: laptop y desktop grandes */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 1.8rem;
    }
}