* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --violeta-claro: #8e7bef;
    --violeta-oscuro: #8e89a7;
    --casi-blanco: #f9f6ff;
    --negro: #222222;
    --gris-oscuro: #423f40;
    --blanco: #eee;
    --gris-claro: #f9f5f2;
}

body {
    transition: all .3s;
}

body.darkmode {
    background-color: var(--gris-oscuro);
    color: var(--blanco);
}

h1, h2 {
    transition: all .2s;
    cursor: pointer;
}

h1:hover, h2:hover {
    color: var(--violeta-claro);
}

/* celulares promedio */
@media only screen and (min-width: 450px) {}

/* Small devices: teléfonos grandes y tablets */
@media only screen and (min-width: 600px) {}

/* Medium devices: tablets */
@media only screen and (min-width: 768px) {}

/* Large devices: laptop y desktop */
@media only screen and (min-width: 992px) {}

/* Extra large devices: laptop y desktop grandes */
@media only screen and (min-width: 1200px) {}