* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --violeta-claro: #8e7bef;
    --violeta-oscuro: #8e89a7;
    --negro: #333;
    --slate-negro: #444;
    --gris: #777;
    --blanco: #fff;
    /* --casi-blanco: red; */
}

body {
    transition: all .3s;
}

body.darkmode {
    background-color: var(--slate-negro);
}

body.darkmode .dm1 {
    color: #fff;
}

body.darkmode .dm2 {
    color: #ddd;
}

h1, h2, h4 {
    transition: all .2s;
    cursor: pointer;
    font-weight: bold;
}

body.darkmode h1:hover,
body.darkmode h2:hover,
h1:hover,
h2:hover {
    color: var(--violeta-claro);
}

.separador {
    height: .5rem;
}

/* celulares promedio */
@media only screen and (min-width: 450px) {}

/* Small devices: teléfonos grandes y tablets */
@media only screen and (min-width: 600px) {}

/* Medium devices: tablets */
@media only screen and (min-width: 768px) {}

/* Large devices: laptop y desktop */
@media only screen and (min-width: 992px) {}

/* Extra large devices: laptop y desktop grandes */
@media only screen and (min-width: 1200px) {}