:root {
    --violeta-claro: #8e7bef;
    --violeta-oscuro: #5d3bef;
    --casi-blanco: #f9f6ff;
    --negro: #222222;
    --gris-oscuro: #423f40;
    --blanco: #ffffff;
    --gris-claro: #f9f5f2;
}

.mis-habilidades {
    margin-top: 4rem;
}

.mis-habilidades h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.mis-habilidades .scroll {
    display: flex;
    overflow-x: auto;
}

.mis-habilidades .scroll::-webkit-scrollbar {
    width: 0;
}

.mis-habilidades .item {
    min-width: 12rem;
    min-height: auto;
    background-color: var(--gris-claro);
    margin-right: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all .2s;
    cursor: pointer;
}

body.darkmode .mis-habilidades .item {
    background-color: var(--negro);
}
body.darkmode .mis-habilidades .item:hover {
    box-shadow: 3px 3px 3px 2px rgba(93, 59, 239, 0.2);
}

.mis-habilidades .item h4 {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0;
}

.mis-habilidades .item i {
    margin-right: .5rem;
    color: var(--violeta-claro);
    font-size: 1.5rem;
}

.mis-habilidades .item .header-habilidad {
    display: flex;
    align-items: center;
}

.mis-habilidades .item p {
    padding-top: 1rem;
    font-size: .75rem;
    text-align: justify;
}

.mis-habilidades .scroll .item:first-child {
    margin-left: 1rem;
}

.mis-habilidades .scroll .item:last-child {
    margin-right: 1rem;
}

/* celulares promedio */
@media only screen and (min-width: 450px) {}

/* Small devices: teléfonos grandes y tablets */
@media only screen and (min-width: 600px) {}

/* Medium devices: tablets */
@media only screen and (min-width: 768px) {
    .mis-habilidades {
        padding: 0 5rem;
    }

    .mis-habilidades .scroll {
        overflow-x: visible;
    }

    .mis-habilidades .item {
        min-width: 8rem;
        min-height: auto;
        margin-right: 0;
    }

    .mis-habilidades .scroll .item:first-child {
        margin-left: 0;
    }
    
    .mis-habilidades .scroll .item:last-child {
        margin-right: 0;
    }

    .mis-habilidades .scroll .item:nth-child(2) {
        margin: 0 1rem;
    }
}

/* Large devices: laptop y desktop */
@media only screen and (min-width: 992px) {}

/* Extra large devices: laptop y desktop grandes */
@media only screen and (min-width: 1200px) {}