:root {
    --violeta-claro: #8e7bef;
    --violeta-oscuro: #5d3bef;
    --casi-blanco: #f9f6ff;
    --negro: #222222;
    --gris-oscuro: #423f40;
    --blanco: #ffffff;
    --gris-claro: #f9f5f2;
}

.nav {
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* nav normal */
.nav .nav-normal {
    background-color: var(--casi-blanco);
    display: flex;
    justify-content: space-between;
    padding: 1rem 5%;
}

body.darkmode .nav-normal,
body.darkmode .nav-desktop {
    background-color: var(--negro);
    box-shadow: 2px 2px 2px 1px rgba(93, 59, 239, 0.2);
}
body.darkmode .nav-normal i,
body.darkmode .nav-desktop i,
body.darkmode .nav-desktop a {
    color: var(--blanco);
}

.nav .nav-normal .icono-menu {
    font-size: 1.5rem;
}

.config {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.moon, .earth {
    font-size: 1.25rem;
    color: var(--negro);
    cursor: pointer;
}

.moon2:first-child {
    margin-right: 1.25rem;
}

/* nav toggle */
.nav .nav-toggle {
    background-color: var(--violeta-oscuro);
    padding: .5rem 0;
    width: 100%;
    position: absolute;
    top: 3.5rem;
    z-index: 1;
    border-bottom: .1rem solid var(--blanco);
}

body.darkmode .nav .nav-toggle {
    background-color: var(--gris-oscuro);
}

.fixed {
    position: fixed;
}

.nav .nav-toggle li {
    text-align: center;
    padding: .75rem 0;
}

.nav .nav-toggle a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 1rem;
}

.toggle {
    display: none;
}

/* nav desktop */
.nav .nav-desktop {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5%;
    background-color: var(--casi-blanco);
}

.nav .nav-desktop li {
    display: inline-block;
    margin-left: .5rem;
}

.nav .nav-desktop a {
    text-decoration: none;
    color: var(--negro);
    font-size: 1rem;
    cursor: pointer;
    transition: .2s all;
}

.nav .nav-desktop a:hover {
    color: var(--violeta-claro);
}

/* celulares promedio */
/* @media only screen and (min-width: 450px) {} */

/* Small devices: teléfonos grandes y tablets */
/* @media only screen and (min-width: 600px) {} */

@media only screen and (max-width: 767px) {
    .nav .nav-desktop {
        display: none;
    }
}

/* Medium devices: tablets */
@media only screen and (min-width: 768px) {
    .nav .nav-normal, .nav .nav-toggle {
        display: none;
    }
}

/* Large devices: laptop y desktop */
@media only screen and (min-width: 992px) {
    .nav .nav-desktop li {
        margin-left: 1rem;
    }
}

/* Extra large devices: laptop y desktop grandes */
@media only screen and (min-width: 1200px) {
    .nav .nav-desktop li {
        margin-left: 1.5rem;
    }
}