:root {
    --violeta-claro: #8e7bef;
    --violeta-oscuro: #5d3bef;
    --casi-blanco: #f9f6ff;
    --negro: #222222;
    --gris-oscuro: #423f40;
    --blanco: #ffffff;
    --gris-claro: #f9f5f2;
}

.nav {
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* nav normal */
.nav .nav-normal {
    width: 100vw;
    background-color: var(--casi-blanco);
    display: flex;
    justify-content: space-between;
    padding: 1rem 5%;
}

body.darkmode .nav-normal,
body.darkmode .nav-desktop {
    background-color: var(--negro);
    box-shadow: 2px 2px 2px 1px rgba(93, 59, 239, 0.2);
}
body.darkmode .nav-normal i,
body.darkmode .nav-desktop i,
body.darkmode .nav-desktop a {
    color: var(--blanco);
}

.nav .nav-normal .icono-menu {
    font-size: 1.5rem;
}

.config {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.moon, .earth {
    font-size: 1.25rem;
    color: var(--negro);
    cursor: pointer;
}

.moon2:first-child {
    margin-right: 1.25rem;
}

/* nav toggle */
.nav .nav-toggle {
    background-color: var(--violeta-oscuro);
    padding: .5rem 0;
    width: 100%;
    position: absolute;
    top: 3.5rem;
    z-index: 1;
    border-bottom: .1rem solid var(--blanco);
}

body.darkmode .nav .nav-toggle {
    background-color: var(--gris-oscuro);
}

.fixed {
    position: fixed;
}

.nav .nav-toggle li {
    list-style: none;
    text-align: center;
    padding: .75rem 0;
}

.nav .nav-toggle ul {
    margin-bottom: 0;
    padding-left: 0
}

.nav .nav-toggle a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 1rem;
}

.toggle {
    display: none;
}

/* nav desktop */
.nav .nav-desktop {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    background-color: var(--casi-blanco);
}

.nav .nav-desktop .items ul {
    margin-bottom: 0;
}

.nav .nav-desktop li {
    display: inline-block;
    margin-left: .5rem;
}

.nav .nav-desktop a {
    text-decoration: none;
    color: var(--negro);
    font-size: 1rem;
    cursor: pointer;
    transition: .2s all;
}

.nav .nav-desktop a:hover {
    color: var(--violeta-claro);
}

/* TOGGLE THEME IG */
#toggle1, #toggle {
    display: none;
}
.btn-theme, .btn-theme1 {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #ddd;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}
.btn-theme::after, .btn-theme1::after {
    content: url('../img/moon.png');
    width: 30px;
    height: 30px;
    background-color: var(--violeta-oscuro);
    border: 2px solid #eee;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: -3px;
    left: 0;
    display: grid;
    place-content: center;
    line-height: 0;
    transition: 1s all;
    transform: 1s ease-in;
}
#toggle:checked + .btn-theme::after,
#toggle1:checked + .btn-theme1::after {
    content: url('../img/sun.png');
    background-color: var(--violeta-claro);
    transform: translateX(20px) rotate(360deg);
}

/* celulares promedio */
/* @media only screen and (min-width: 450px) {} */

/* Small devices: teléfonos grandes y tablets */
/* @media only screen and (min-width: 600px) {} */

@media only screen and (max-width: 767px) {
    .nav .nav-desktop {
        display: none;
    }
}

/* Medium devices: tablets */
@media only screen and (min-width: 768px) {
    .nav .nav-normal, .nav .nav-toggle {
        display: none;
    }
}

/* Large devices: laptop y desktop */
@media only screen and (min-width: 992px) {
    .nav .nav-desktop li {
        margin-left: 1rem;
    }
}

/* Extra large devices: laptop y desktop grandes */
@media only screen and (min-width: 1200px) {
    .nav .nav-desktop li {
        margin-left: 1.5rem;
    }
}